.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;}
.sidetext {
  color:white;
  background-color:#2d5f7c;}
.grr {
 font-size:4em;}
.dabadee {
  color:#2d5f7c;}
.mammiamia {
  font-style:italic;}
.grrr {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;}
  .smol {
    font-size: 0.71em;}
  .doyouhearthe {
    font-weight: bold;}